
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (min-width: 0px) and (max-width: 480px){

    body{
       justify-content: center;
       align-items: center;
        padding: 0;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        background-color: #f0f1ff;
    }
    /*  */
    section{
        max-width: 1200px;
        /* margin: 20px auto; */
        padding: 20px;
        justify-content: center;
        margin-left: 15px;
    }
    /*  */
    .News-header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    /*  */
    .News-header h2{
        font-size: 14px;
        font-weight: bold;
        margin-right: 100px;
    }
    /*  */
    .News-header a{
        background: #0d47a1;
        color: #fff;
        padding: 5px 10px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 10px;
        transition: background 0.3s;
        margin-right:30px ;
    }
    /*  */
    .News-header a:hover{
        background: #08306b;
    }
    /*  */
    button{
        line-height: 23.8px;
        text-align:right;
        letter-spacing: -0.14px;
        border-radius:100px;
    }
    /*  */
    .Container {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 10%;
    }
    /*  */
    .Container img{  
        object-fit: cover;
    }
    /*  */
    h4 {
        font-weight: 500;
        font-size: 16px;
        font-family:'Poppins', Arial, Helvetica, sans-serif ;
    }
    h5{
        font-weight: 700;
        font-size: 12px;
        color: #f89893;
        line-height: 1;
    }
    p{
        font-size: 14px;
        font-weight: 500;
        box-sizing: border-box;
        width: 350.927px;
        color: #736e6a;
        line-height: 1.7;
    }
    ul{
        list-style: none;
        display: inline-block;
    }
    .news-card{
        background-color: white;
        width: 370.927px;
        /* margin: 0 0 42px 0; */
        margin-right: 150px;
        padding: 19px 19px 19px 19px;
        border-radius: 10px;
        align-items: center;
    }
    /*  */
    .news-card:hover{
        transform: translateY(-5px);
    }
    /*  */
    .news-card img{
        object-fit: cover;
        width: 100%
    }
}